.header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // margin-bottom: 25px;
    background: linear-gradient(80deg, #4C5E67, rgb(92, 98, 214));

    .option {
        padding: 0px 15px;
      }

  
    // .logo-container {
    //   height: 100%;
    //   width: 70px;
    //   padding: 25px;
    // }
  
    .options {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
      }
    }
  }